{{!-- /*********************************************************************************
*  WEB322 – Assignment 6
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Soumik Saha     Student ID: 140721200          Date: 5th December 2021.
*
*  Online (Heroku) URL: https://arcane-escarpment-38969.herokuapp.com/
*
********************************************************************************/  --}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles.css" type="text/css">
    <title>Quick Meal Delivery-Home</title>
</head>
<body>
    <header>
        <div id="logo"><img class="logo" src="static/logo.png"></div>
        <div id="name"><h1>Quick Meal Delivery</h1></div>    
            <nav>
            <h2 id="home"><a href="/">HOME</a></h2>
            <h2 id="meals"><a href="/mealPackage">MEAL PACKAGES</a></h2>
            <a href="/logout"><h2 id="logout">LOGOUT</h2></a>
        </nav>    
    </header>
    <main>
        <section id=hero style="background-image: url('static/bg1.jpg'); height: 800px; background-repeat: no-repeat;">
            <div id="welcome-content">
            {{#if data}}
                <h1>Hello {{data.fname}} {{data.lname}}</h1>
                {{#if admin}}
                <h2>What would you like to do today?</h2>
                <button id="add_Meal_Package" type="button"><a href="/mealPack">Add new meal package?</a></button>
                <button id="add_Meal_Package" type="button"><a href="/mealPackMod">Modify a meal package?</a></button>
                {{else}}
                <h2>Welcome Onboard</h2>
                <h2> We hope to server you soon.</h2>
                {{/if}}
            {{else}}
                <h1>{{errorMsg}}</h1>
                <a href="/signin"><h2>Try Again?</h2></a>
            {{/if}}
            </div>
        </section>
    </main>
    <footer>
         <ul>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Social Media</li>
        </ul>
        <div id="Social-Media-footer">
            <a href=""><img id="facebook"src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" alt="facebook icon" height="24px"/></a>
            <a href=""><img id="google"src="https://img.icons8.com/material-rounded/24/000000/google-logo.png" alt="google icon"/></a>
            <a href=""><img id="twitter"src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png" alt="twitter icon" height="24px"/></a>
            <a href=""><img id="linkedin"src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png" alt="linkedin icon" height="24px"/></a>
        </div>
        <div id="final-div"><p><a href="ssaha26@myseneca.ca">Contact the webpage creator</a></p>
        <p>Copyright © Fall 2021, Soumik Saha, WEB322 ZCC</p>
    </div>
    </footer>
    </body>
</html>